<form>
  <ng-container *ngTemplateOutlet="curFieldset; context: {title: 'Міняю' | uppercase, selectName: 'curInput'}"></ng-container>
  <ng-container *ngTemplateOutlet="curFieldset; context: {title: 'Отримую' | uppercase, selectName: 'curOutput'}"></ng-container>

  <ng-template #curFieldset let-title="title" let-selectName="selectName">
    <fieldset>
      <legend>{{title}}</legend>
      <label>
        <input type="text">
      </label>
      <select name={{selectName}}>
        <option *ngFor="let cur of list" value="{{cur.cc}}">{{ cur.cc }}</option>
      </select>
    </fieldset>
  </ng-template>

  <button>Розрахувати</button>
</form>
